html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

/* SETTINGS */
:root {
  --main-text-color: rgba(117, 117, 117, 1);
  --title-text-color: rgba(33, 33, 33, 1);
  --text-hover-focus: rgba(33, 150, 243, 1);
  --white-text-background: rgba(255, 255, 255, 1);
  --time-distribution-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--white-text-background);
  color: var(--main-text-color);
  /* max-width: 1600px; */
}

.list {
  list-style: none;
}

.header {
  border-bottom: 1px solid #ececec;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

/* ЛОГО */

.webstudio {
  width: 145px;
  height: 31px;
  color: #000000;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;
  margin-right: 93px;
}

.studio {
  color: #2196f3;
}

/* НАВІГАЦІЯ */

.nav-menu {
  display: flex;
  max-width: 294px;
}

.nav-menu .link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  text-decoration: none;
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-menu .special {
  color: var(--text-hover-focus);
}

.nav-menu .link:hover,
.nav-menu .link:focus {
  color: var(--text-hover-focus);
  transition: 250ms var(--time-distribution-function);
}

.nav-menu .link::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;

  background: var(--text-hover-focus);
  border-radius: 2px;
  transform: scaleX(0);
  transition: 250ms var(--time-distribution-function);
}

.nav-menu .link:hover::after,
.nav-menu .link:focus::after {
  transform: scaleX(1);
}

.nav-menu .special::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;

  background: var(--text-hover-focus);
  border-radius: 2px;
  transform: scaleX(1);
}

.nav-menu .link:hover::after,
.nav-menu .link:focus::after {
  transform: scaleX(1);
}

nav ul li:not(:last-child) {
  margin-right: 50px;
}

/* КОНТАКТИ */

.auth-item {
  color: var(--main-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.auth-item:hover,
.auth-item:focus {
  color: var(--text-hover-focus);
  transition: 250ms var(--time-distribution-function);
}

.header-container {
  display: flex;
  align-items: flex-start;
  align-items: center;
}

/* .header {
  padding-top: 24px;
  padding-bottom: 25px;
} */

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tel {
  margin-left: 50px;
}

.auth-icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
}

.auth-item:hover .auth-icon,
.auth-item:focus .auth-icon {
  fill: var(--text-hover-focus);
  transition: 250ms var(--time-distribution-function);
}

/* Кнопки */

.button {
  padding: 6px 22px;
  background: rgba(245, 244, 250, 1);
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  /* identical to box height, or 162% */
  color: var(--title-text-color);

  text-align: center;
  letter-spacing: 0.03em;
  border: none;
}

.button:hover,
.button:focus {
  background: var(--text-hover-focus);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: 250ms var(--time-distribution-function);
}

.button:hover,
.button:focus {
  color: var(--white-text-background);
  transition: 250ms var(--time-distribution-function);
}

.main-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.lii-item:not(:last-child) {
  margin-right: 8px;
}

/* MAIN */

.section-title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  /* identical to box height, or 200% */
  color: var(--title-text-color);
  letter-spacing: 0.06em;
}

.section-info {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 187% */
  color: var(--main-text-color);
  letter-spacing: 0.03em;
}

.projects .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.li-item {
  display: block;
  width: 370px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.li-item:hover,
.li-item:focus {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.li-item:not(:nth-child(n + 7)) {
  margin-bottom: 30px;
}

.projects-info {
  margin: 0 24px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.projects-overlay {
  position: relative;
  overflow: hidden;
}

.paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transform: translateY(100%);
  transition: transform 250ms ease;
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
}

.li-item:hover .paragraph,
.li-item:focus .paragraph {
  transform: translateY(0);
  transition: 250ms var(--time-distribution-function);
}

/* Підвал */

.footer {
  background: rgba(47, 48, 58, 1);
  padding-top: 60px;
  padding-bottom: 60px;
}

.webstudio-footer {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #2196f3;
  text-decoration: none;
  margin-bottom: 20px;
}

.logo {
  color: #ffffff;
}

.street {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;
  color: var(--white-text-background);
  margin-bottom: 9px;
}

.foooter-info {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  text-decoration: none;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}

.mmail {
  display: inline-block;
  margin-bottom: 9px;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.adress-footer {
  display: flex;
  flex-direction: column;
}

/* 2 СЕКЦІЯ */

.icon {
  width: 20px;
  height: 20px;
}

.footer-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footerr-container {
  width: 206px;
}

.footerr-container .list {
  display: flex;
  justify-content: space-between;
}

.footer-link {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-link:hover,
.footer-link:focus {
  background-color: var(--text-hover-focus);
  transition: 250ms var(--time-distribution-function);
}

.footer-link .icon {
  fill: #ffffff;
}

/* 3 СЕКЦІЯ */

.footer-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  padding-left: 16px;
  color: var(--secondary-text-color);
}

.footer-btn {
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--text-hover-focus);
  border: none;
  margin-left: 12px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-send {
  fill: #ffffff;
  margin-left: 10px;
}
